%table
  %thead
    %tr
      %td User
      %td Tool Quiz Percentage
      %td Tools Correctly Found
  %tbody
  - @users.each do |u|
    %tr
      %td= u.email
      %td= "#{u.tool_quiz_percentage}%"
      %td= u.tool_quiz_correct