%table
  %thead
    %tr
      %th Vehicle
      %th Compartment
  %tbody
    - @compartments.each do |compartment|
      %tr
        %td= compartment.vehicle.name
        %td= link_to compartment.description, edit_compartment_path(id: compartment.id)
