body {
  font-family: helvetica, arial, sans-serif;
  line-height: 16px;
  background-color: ivory;
}

#main {
  margin: 0 auto;
  width: $width;
  background-color: white;
  @include border(lightgray, 2px, 5px, 5px);
}

#content {
  padding: 20px;
}

#page_footer {
  border-top: 1px solid lightgray;
  padding: 15px;
}

.notice {
  padding: 5px;
  background-color: $light_green;
}

.alert {
  padding: 5px;
  background-color: $light_red;
}

table {
  width: 100%;
  margin: 0;
  border-spacing: 0;

  td {
    padding: 5px;
  }
  .even_row {
    background-color: $even_row;
  }
}